[user]
  useConfigOnly = true

[core]
  excludesfile   = "$HOME/Projects/dotfiles/git/.gitignore"
  attributesfile = "$HOME/Projects/dotfiles/git/.gitattributes"
  editor         = "nvim"
  untrackedCache = true

[commit]
  gpgsign  = true
  template = /home/devs/Projects/dotfiles/git/.gitmessage

[color]
  status    = always
  ui        = always
  transport = always

[color "transport"]
  rejected = red

[color "branch"]
  current = 35  # green
  local   = 248 # dimgrey
  remote  = 203 # red

[color "diff"]
  meta = 241
  frag = 142 # line info
  old  = 203 # deletions (red)
  new  = 35  # additions (green)

[color "status"]
  added     = 35
  changed   = 214 # yellow
  untracked = 203 # true

[init]
  defaultBranch = master

[push]
  followTags = true

[advice]
  statusHints      = false
  statusUoption    = false
  addEmptyPathspec = false
  detachedHead     = false

[url "git@github.com:"]
  insteadOf     = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
  insteadOf = "github:"

[url "git@gist.github.com:"]
  insteadOf     = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
  insteadOf = "gist:"

[pager]
  branch = false
  log    = false

  # aliases pager
  contrib = false
  alias = false

[alias]
  amend = commit --amend --reuse-message=HEAD
  done  = push origin HEAD
  alias = config --get-regexp alias
  undo  = reset HEAD~1 --mixed
  del   = branch --delete --force

  # quick detach head

  # Shorteners
  co    = checkout
  s     = status --short

  ba    = branch --all
  r     = remote --verbose

  lg    = log --oneline --graph -15


  # Create a branch or switch if it exists.
  ;mb = "!a(){ git checkout -b \"${1}\" 2> /dev/null || git checkout \"${1}\";}; a"

  # Credit an author on the last commit
  credit = "!git commit --amend --author \"${1} <${2}>\" -C HEAD"

  # Delete merged local branches.
  dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

  # List contributors with number of commits
  contrib = shortlog --summary --numbered

[include]
  # Local git configuration. Include all your personal credentials
  # and overrides here.
  path = ~/.gitconfig.local
