[init]
  defaultBranch = master

[user]
  useConfigOnly = true

[core]
  excludesfile   = "$HOME/Projects/dotfiles/git/.gitignore"
  attributesfile = "$HOME/Projects/dotfiles/git/.gitattributes"
  editor         = "nvim"
  pager          = "nvim -R"
  untrackedCache = true

[commit]
  gpgsign  = true
  template = /home/devs/Projects/dotfiles/git/.gitmessage

[color]
  status    = always
  ui        = always
  transport = always

[color "transport"]
  rejected = red

[color "branch"]
  current = 35  # green
  local   = 248 # dimgrey
  remote  = 203 # red

[color "diff"]
  meta   = 241
  frag   = 142      # line info
  commit = 214 bold # (yellow)
  old    = 203      # deletions (red)
  new    = 35       # additions (green)
  whitespace = 203  # (red)

[color "diff-highlight"]
  oldNormal    = red bold
  oldHighlight = red bold 52
  newNormal    = green bold
  newHighlight = green bold 22

[color "status"]
  added     = 35
  changed   = 214 # yellow
  untracked = 203 # true

[init]
  defaultBranch = master

[push]
  followTags = true

[advice]
  statusHints      = false
  statusUoption    = false
  addEmptyPathspec = false
  detachedHead     = false

[url "git@github.com:"]
  insteadOf     = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
  insteadOf = "github:"

[url "git@gist.github.com:"]
  insteadOf     = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
  insteadOf = "gist:"

[pager]
  branch = false
  log    = false

  # aliases pager
  contrib = false
  alias = false

[difftool]
  prompt = false

[diff]
  tool = nvimdiff

[merge]
  stat = true
  tool = nvimdiff


[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[stash]
  showPatch = true
  showStat = true

[log]
  abbrevCommit = true

[format]
  pretty = "%C(yellow bold)%h %C(auto)%d% %C(249)%s %Creset"

[pretty]
  little = "%C(yellow bold)%h %C(auto)%d% %C(249)%s %Creset"
  detail = "%C(blue)<%an> %C(yellow bold)%h %C(auto)%d% %C(249)%s %C(green italic)%ar%Creset"

[alias]
  # command wrappers
  fzf = !fzf

  amend = commit --amend --no-edit
  typo  = commit --amend
  done  = push origin HEAD
  undo  = reset HEAD~1 --mixed
  del   = branch --delete --force
  alias = config --get-regexp "alias.*"
  res   = reset --hard
  unstage = reset HEAD --
  last = log -1 HEAD --stat
  diff = difftool -t nvimdiff
  discard = checkout --

  # shorteners
  a     = add
  c     = commit
  ca    = !git add --all && git commit
  co    = checkout
  cp    = cherry-pick
  s     = status --short --branch --show-stash --ahead-behind --renames
  br    = branch --all
  rv    = remote --verbose
  lg    = log --graph --all -12 # git lg --format=detail
  lga   = log --graph --all # git lg --format=detail

  mb = "!f() { \
    git checkout -b \"${1}\" 2> /dev/null \
      || git checkout \"${1}\"; \
  }; f"

  # List contributors with number of commits
  contrib = shortlog --summary --numbered

[include]
  # Local git configuration. Include all your personal credentials
  # and overrides here.
  path = ~/.gitconfig.local
