# EditorConfig is awesome: http://EditorConfig.org

[*]
indent_style = space
indent_size = 2

[git*]
indent_style = space
indent_size = 2

[{*.rb,Rakefile}]
indent_style = space
indent_size = 2

[*.vim]
indent_style = space
indent_size = 2

[*.snippets]
indent_style = tab
indent_size = 2
