
# String
snippet s "String" b
"${1:key}": "${0:value}",
endsnippet

# Number
snippet n "number" b
"${1:key}": ${0:value},
endsnippet

# Array
snippet a "Array" b
[
	${VISUAL}$0
],
endsnippet

# Object
snippet o "Object" b
{
	${VISUAL}$0
},
endsnippet
