
// Editor

atom-text-editor .syntax--variable {
  color: #409C97;
  font-weight:800;
}

// Active Gutter Cursor-Line

atom-text-editor .gutter .line-number.cursor-line {
  background-color: #D3D5D8 !important;
  font-weight: bold !important;
  color: #333;
}

 // Cursor-Line

atom-text-editor::shadow .lines .line.cursor-line {
  background-color: #333;
}

atom-text-editor {
  font-weight: 400;
  color: white;
  line-height: 19px;
  background-color: #222;
  font-family:  mono;
  letter-spacing: 0.039em;
  .gutter .line-number { // Passive Gutter
    color: white;
  }
  .gutter {
    background-color: #333!important;
    // make linenumbers unresizable
    font-weight: bold;
  }
}

// Comments

atom-text-editor .syntax--comment {
  color: #049372;
  font-style: normal;
}

 // Icons (folders/files)

span.icon-file-directory {
  font-weight: bold;
  font-style: italic;
}

// File Tree

.tree-view {
  background-color: #444;
  font-size: 14px;
}


// active pane

.pane {
  .gutter,
  ul.tab-bar {
    opacity: 0.4;
  }
}

.pane.active {
  .gutter {
    opacity: 1;
  }
  ul.tab-bar {
    opacity: 1;
    .tab.active {
      color: #eee;
      font-size: 14px;
      letter-spacing: .039em;
      font-weight: 400;
      background-color: #444;

    }
  }
}
