#!/usr/bin/env xdg-open

[Desktop Entry]

Name=Dotfiles
GenericName=Integrated development environment
Categories=ConsoleOnly;Utility;Development;TextEditor
Keywords=Dotfiles;Text;Editor;
Comment=Dotfiles goodies by cevhyruz

Encoding=UTF-8
Type=Application
Icon=/home/devs/Projects/dotfiles/desktop/dotfiles.png
Exec=/usr/bin/env bash
Terminal=true

StartupNotify=true
MimeType=text/plain;
StartupWMClass=mydotfiles
